body {
    margin: 0;
    padding: 0;
}

.name-container-title {
    padding: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #AFC8C4

}

.nav-container {
    height: 50px;
    background-color: #AFC8C4
}
.picture-container {
    background-color: #AFC8C4
}
.content-container {
    height: 300px;
    background-color: #AFC8C4
}
.name-title {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.title-picture{
    width: 100%;
}